body {
    background-color: #E3FDFD;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #71C9CE;
    border-width: 5px;
    width: 50%
}

h1 {
    color: #5fa9ad;
}

h2 {
    color: #5fa9ad;
}

h3 {
    color: #5fa9ad;
}