h1 {
    font-size: 50px;
    color: red;
}

img {
    background-color: pink;
}

img:hover {
    background-color: gold;
}

.bacon {
    background-color: lightgreen
}

.broccoli {
    background-color: pink;
}

.circular {
    border-radius: 100%;
}


#heading {
    color: blue;
}