body {
    margin: 0;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}

h2 {
    padding-bottom: 20px;
}

hr.hr-lev2 {
    margin: 0, auto, 0, auto;
    border: none;
    border-top: 5px dotted #A6E3E9;
    height: 0;
}

hr.hr-lev3 {
    margin: 0, auto, 0, auto;
    border: none;
    border-top: 5px dotted #A6E3E9;
    height: 0;
    max-width: 50px;
}



.top-container {
    background-color: #E3FDFD;
    position: relative;
    padding: 0;
    padding-top: 100px;
    color: #66bfbf;
}

.top-container h1 {
    margin: 50px auto 0 auto;
    font-family: 'Baloo 2', cursive;
    font-size: 5.625rem;
    padding-top: 50px;
}

.top-container h2 {
    font-size: 2.5rem;
    font-weight: normal;
}

.top-container .pro {
    text-decoration: underline;
}

.top-container .mountain {
    margin: 0;
    border: 0;
    padding: 0;
}

.top-container .top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.top-container .bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}



.profile {
    position: relative;
    background-color: white;
    margin: 0;
    padding: 0;
}

.profile .pfp {
    border-radius: 50%;
    height: 150px;
}

.profile h2 {
    color: #71C9CE;
    margin: auto;
    /* width: 80%;
    max-width: 900px; */
}

/* .profile p {
    margin: auto;
    width: 80%;
    max-width: 900px;
} */



.experience {
    position: relative;
    background-color: #E3FDFD;
    margin: 0;
    padding: 0;
}

.experience .experience-list {
    text-align: left;
}


.other-experience {
    position: relative;
    background-color: white;
    margin: 0;
    padding: 0;
}

.other-experience .images {
    width: 150px;
    float: right;
    margin-left: 20px;
}

.other-experience .images img {
    width: 100%;
}

.other-experience .experience-row {
    text-align: left;
    clear: left;
}


.contact-me {
    position: relative;
    background-color: #E3FDFD;
    margin: 0;
    padding: 0;
}

.contact-me .btn {
    background: #A6E3E9;
    background-image: -webkit-linear-gradient(top, #A6E3E9, #31c6d4);
    background-image: -moz-linear-gradient(top, #A6E3E9, #31c6d4);
    background-image: -ms-linear-gradient(top, #A6E3E9, #31c6d4);
    background-image: -o-linear-gradient(top, #A6E3E9, #31c6d4);
    background-image: linear-gradient(to bottom, #A6E3E9, #31c6d4);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
  
.contact-me .btn:hover {
    background: #71C9CE;
    text-decoration: none;
}



.bottom-container {
    background-color: #A6E3E9;
}

.bottom-container .cont{
    margin: auto;
    width: 80%;
    max-width: 900px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bottom-container .cont .contact-glyph {
    height: 50px;
    margin-top: 10px;
}



.container {
    margin: auto;
    width: 80%;
    max-width: 900px;
    padding-top: 50px;
    padding-bottom: 50px;
}